:root {
  scroll-behavior: smooth;
  --soft-blue: hsl(197, 91%, 49%);
  --softer-blue: hsl(197, 91%, 69%);
  --lovely-blue: hsl(217, 100%, 35%);
  --darker-blue: hsl(197, 80%, 30%);
}

html,
body {
  width: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-family: 'Source Code Pro', monospace;
}

a {
  text-decoration: none;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: fixed;
}

#navbar {
  background-color: var(--softer-blue);
}

.hamburger {
  width: 50px;
  height: 50px;
  margin: 2px;
  background: -webkit-repeating-linear-gradient(#222, #222 6px, var(--softer-blue) 6px, var(--softer-blue) 12px);
  background: -o-repeating-linear-gradient(#222, #222 6px, var(--softer-blue) 6px, var(--softer-blue) 12px);
  background: repeating-linear-gradient(#222, #222 6px, var(--softer-blue) 6px, var(--softer-blue) 12px);
}

.menu {
  margin: 0;
  height: 52px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  list-style-type: none;
}

.menu-link {
  padding: .9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  text-align: center;
  background-color: hsl(197, 91%, 69%);
}

.menu:hover .hidden {
  display: block;
  border-bottom: 2px solid var(--soft-blue);
}

.hidden {
  display: none;
}

.menu-link:hover {
  background-color: hsl(197, 91%, 79%);
  border-bottom: 2px solid var(--darker-blue);
}

#welcome-section,
.profile-content {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#welcome-section {
  background-color: var(--soft-blue);
}

.welcome-title {
  font-family: 'Playfair Display', serif;
  animation: upward-slide 1000ms ease-in-out 250ms;
}

.welcome-subtitle {
  animation: upward-slide 1000ms ease-in-out 500ms;
}

@keyframes upward-slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25vh);
            transform: translateY(25vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.title-start {
  color: hsl(226, 91%, 48%);
}

.welcome-subtitle {
  color: var(--lovely-blue);
}

.title-end {
  color: hsl(246, 91%, 29%);
}

.welcome-content {
  text-align: center;
}

.welcome-title,
.welcome-subtitle {
  margin: 0;
}

.welcome-title {
  font-size: 3rem;
}

#projects {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
}

.project-content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-tile {
  width: 300px;
  height: 300px;
  font-size: 2rem;
  margin-bottom: .5em;
  transition: all 250ms linear;
  background-color: hsl(282, 96%, 49%);
}

.project-tile:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 2px #888888;
}

.profile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--soft-blue);
}

.profile-title {
  font-size: 2rem;
}

.profile-link-container {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fab {
  font-size: 6rem;
  color: hsl(0, 66%, 5%);
  transition: all 250ms linear;
}

.fab:hover {
  transform: scale(1.05);
  text-shadow: 4px 4px 1px #DDDDDD;
}

footer {
  height: 20vh;
  color: #DDDFFF;
  line-height: 20vh;
  background-color: #121212;
}

footer p {
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.footer--link {
  color: var(--soft-blue);
}

.centered {
  text-align: center;
}

@media (min-width: 400px) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu:hover .hidden {
    border-bottom: 0;
  }
  .hamburger {
    display: none;
  }
  .hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .up {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .down {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (min-width: 500px) and (min-height: 500px) {
  .welcome-title {
    font-size: 6rem;
  }
  .welcome-subtitle,
  .project-title,
  .profile-title {
    font-size: 3rem;
  }
  .project-content {
    height: 75vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .fab {
    font-size: 8rem;
  }
}
